<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-body">
    <% button_to "Novo Tipo de atendimento", new_tipoatendimento_path, :method => "get", class: "btn btn-default btn-xs" %>
    <% link_to 'Novo Tipo de atendimento', new_tipoatendimento_path %>
    <%= link_to " Novo Tipo de atendimento", new_tipoatendimento_path, :method => "get", class: " fa fa-plus-circle btn btn-default btn-xs"%> 
  </div>
</div>


<table class="table table-bordered">
  <tbody>
    <% @tipoatendimentos.each do |tipoatendimento| %>
      <tr>
        <td><i class="fa fa-bookmark label-tema" aria-hidden="true"></i> <%= tipoatendimento.descricao %></td>
        <td>
          <%= link_to ' Editar', edit_tipoatendimento_path(tipoatendimento), class: " fa fa-pencil-square-o btn btn-default btn-xs" %>
          <% link_to 'Ver', tipoatendimento %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



