<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipoatendimento.descricao %>
</p>

<%= link_to 'Edit', edit_tipoatendimento_path(@tipoatendimento) %> |
<%= link_to 'Back', tipoatendimentos_path %>
