<%= div_for resposta do %>
        <p>
                <strong>
                        Posted <%= time_ago_in_words(resposta.created_at) %> ago
                </strong>
                <br/>
                <%= resposta.descricao %>
        </p>
<% end %>