<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Descricao:</strong>
  <%= @respostum.descricao %>
</p>

<%= link_to 'Editar', edit_respostum_path(@respostum) %> |
<%= link_to 'Listar respostas', resposta_path %>
