<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-body">
    <% button_to "Nova Caracteristica", new_caracteristica_path, :method => "get", class: "btn btn-default btn-xs" %>
    <% link_to 'Nova Caracteristica', new_caracteristica_path %>
    <%= link_to " Nova Caracteristica", new_caracteristica_path, :method => "get", class: " fa fa-plus-circle btn btn-default btn-xs"%> 
  </div>
</div>


<table class="table table-condensed table-hover">
  <tbody>
    <% @caracteristicas.each do |caracteristica| %>
      <tr>
        <td><i class="fa fa-tags label-tema" aria-hidden="true"></i> <%= caracteristica.descricao %></td>
        <td align="right">
          <%= link_to 'Editar', edit_caracteristica_path(caracteristica), class: " fa fa-pencil-square-o btn btn-default btn-xs" %>
          <% link_to 'ver', caracteristica %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



