<% if notice %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Descricao:</strong>
  <%= @caracteristica.descricao %>
</p>

<%= link_to 'Editar', edit_caracteristica_path(@caracteristica) %> |
<%= link_to 'Listar caracteristicas', caracteristicas_path %>
